.page-main {}
.page-main__download {}
.page-main__description {}
.page-main__reasons {}
.page-main__reviews {}
.page-main__price {}
.page-main__contacts {}
.page-main__map {}
.page-main__header {}
.page-main__header-title {}
.page-main__text {}
.page-main__posts {}
.page-main__posts--text {}
